html {
  box-sizing: border-box;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: calc(100% - (var(--gap) * 2));
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.section__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-333333);
}

:root {
  --gap: 50px;
}

/* ========================== */

.container {
  margin: 0 auto;
  width: calc(100% - (var(--gap) * 2));
}

.app-wrapper {
  justify-content: center;
  display: grid;

  grid-template-areas:
    'header header'
    'header__nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;

}

.header {
  grid-area: header;
  background: green;
}

.header__logo {
  max-width: 60px;
  max-height: 60px;
}

.header__nav {
  padding: 20px 0;
  grid-area: header__nav;
  background: yellowgreen;
}

.nav__item {
  margin-bottom: 20px;
}

.content {
  grid-area: content;
  background: blue;
}

.content__background {
  width: 100%;
  height: 250px;
}

.content__avatar {
  width: 150px;
  height: 150px;
}
